.section-padding-top {
    padding-bottom: 100px;
}

.section-padding {
    padding: 100px 0;
}

.page-tit {
    font-family: "Abel";
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.home {
    position: fixed;
    padding: 0.5rem;
    bottom: 1rem;
    left: 1rem;
    background-color: #272727;
    border: 1px solid #666666;
    border-radius: 100%;
    transition: background-color 0.5s;
}

.home:hover {
    background-color: #4d4d4d;
}

.blackBg {
    background-color: #000;
    color: #fff;
}